@font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }  